<div class="page-container margin">
    <h2 style="align-self: center">Alunos</h2>
    <div class="flex flex-column text-center">
        <p>Alunos cadastrados</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Data de nascimento</th>
                    <th>Nome da mãe</th>
                    <th>Nome do pai</th>
                    <th>Turma</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="../js/aluno.js"></script>
</div>