<div class="page-container margin">
    <h2 style="align-self: center">Boletins</h2>
    <div class="flex flex-column text-center">
        <p>Boletins por disciplina</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Disciplina</th>
                    <th>Prova 1</th>
                    <th>Prova 2</th>
                    <th>Prova 3</th>
                    <th>Prova 4</th>
                    <th>Situação</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
</div>