<div class="page-container margin">
    <h2 style="align-self: center">Disciplinas</h2>
    <div class="flex flex-column text-center">
        <p>Disciplinas cadastradas</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Código disciplina</th>
                    <th>Nome</th>
                    <th>Professor</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody id="tbody">  
            </tbody>
        </table>
    </div>
</div>