<div class="page-container margin">
    <h2 style="align-self: center">Professores</h2>
    <div class="flex flex-column text-center">
        <p>Professores cadastrados</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data admissão</th>
                    <th>Formação</th>
                    <th>Area atuação</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
</div>